[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyterlab = "*"
tqdm = "*"
transformers = "*"
scikit-learn = "*"
numpy = "*"

[dev-packages]

[requires]

[pipenv]
allow_prereleases = true
